header.navbar {
    border-bottom: none;
    box-shadow: 0 0 6px 0 rgba(#000, .75);
    
    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        
        &:before,
        &:after {
            display: none;
        }
        
        .navbar-brand {
            margin: 0;
            height: auto;
            padding: 20px 15px;
            border: none;
            
            .navbar-brand-logo,
            .navbar-brand-app {
                position: static;
                transform: none;
            }
            
            .navbar-brand-logo {
                margin: 5px 10px 5px 0;
                width: auto;
                height: $logo-height;
            }
        }
    }
    
    .navbar-nav {
        .nav-link,
        li > a {
            &:hover,
            &:focus {
                background-color: $brand-primary-accent;
            }
        }
    }
}

nav.administration-navbar {
    height: auto;
    overflow: auto;
    padding: 0;
    background: transparent;
    border-bottom: none;
    margin-top: 10px;
    
    > .container {
        display: flex;
        align-items: flex-start;
        background: transparent;
        
        a {
            white-space: nowrap;
            color: $brand-primary;
            
            &.selected,
            &:active,
            &:focus,
            &:hover {
                border-bottom-color: $brand-primary-accent;
            }
        }
    }
}
