@import "ecommerce/static/sass/partials/utilities/variables";

// brand color
$base-color: #e9b414;

// logo
$logo-height: 40px;

// general color variables
$brand-primary:                 $base-color;
$brand-primary-accent:          lighten($brand-primary, 12%);
$brand-primary-accent-light:    lighten($brand-primary, 28%);

$footer-height: auto;
