@import "ecommerce/static/sass/partials/utilities/variables";

// brand color
$base-color: #009edb;

// logo
$logo-height: 45px;

// general color variables
$brand-primary:                 $base-color;
$brand-primary-accent:          lighten($brand-primary, 12%);
$brand-primary-accent-light:    lighten($brand-primary, 28%);

$footer-height: auto;
